
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    background-color: #323232;
}

.main-container
{
    
    width: 450px;
    height: 800px;
    margin: 0 auto;
    text-align: center;
}
.btn-container
{
    display: flex;
    flex-direction: column;
    
    margin-top:20px;
    
}
.row
{
    display: flex;
    justify-content: center;
    
}
.btn
{
    
    width: 200px;
    height: 200px;
    border: 10px solid black;
    margin: 15px;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
}

button
{
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    margin-top: 30px;
    color: white;
    background-color: black;
    outline: none;    
}
.yellow
{
    
    background-color: #f26419;
}
.red
{
    
    background-color: #720026;
}
.purple
{
    background-color: #00a896;
}
.green
{
    background-color: #387e4d;
}
.gameFlash
{
    background-color: white;
}

.userFlash
{
    background-color: #006400;
}